/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */



#header {
  display : inline-Flex;
  gap: 50px;
  width:100%;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
#header > h2{
  font-size:30px;
}

#header-links {
  display:flex;
  justify-content:space-evenly;
  width:60%;
  flex-wrap: wrap;
  align-content: center;
}
#header-links>a{
  color:black;
  text-decoration: none;
}
#darkModeBttn{
  border: none;
  background: none; /* remove default styles */
  cursor: pointer;
  
}
#darkModeBttn>img{
  width:40px;
  height:40px;
}
#about-me{
  display:flex;
  flex-direction:column;
  align-items: center;
  margin:50px 10px;
  
}
#headshot-container{
  display:flex;
  justify-content: center;
}
#headshot{
  border: 1px solid black;
  border-radius:50%;
  height:250px;
}
#aboutMeText{
  width:50%;
  text-align: center;
}
.icons{
  width:50px;
  height:50px;
  margin:10px;
}

#Experience{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  margin:50px 0px;
  background-image: url(../Images/Cloud.jpg);
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat; 
}

.experienceData{
  text-align: center;
  width:60%;
}
.experienceCard{
  display:flex;
  width:50%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  
}
.date{
  display: flex;
  justify-content: center;
  border-radius:50%;
  padding:5px 5px;
  font-size:14px;
  border:1px outset black;
}
#projectTitle{
  text-align: center;
}
#project{
  display:flex;
  flex-wrap: wrap;
  margin:20px 20px;
  justify-content: space-around;
  
  
}
.projectCard{
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items:center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 15px 20px;
  width:300px;
  margin:10px 20px;
}
.projectImages{
  width:90px;
  height:90px;
}
.arrow{
  width:20px;
  height:20px;
  cursor:pointer;
  align-self: flex-end;
}
#skills{
  text-align: center;
  margin-top:100px;
  margin-bottom: 20px;
  background-image: url(../Images/mainBackground.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding:15px 0px;
}
#skillsIcon{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin:10px 50px;
}

.skillsIconImages{
  width:50px;
  height:50px;
  margin:10px 10px;
}
#footer{
  background-color:#f6f3f3;
  text-align: center;
  padding: 10px 10px;
}


.darkMode{
  background-color:#444444;
  color:white;
}
.ExperienceDarkMode{
  background-image: url(../Images/newNightSky.jpg) !important; /*have to put !important to override because the class style has precedence in the cascade over this*/

}
.dateDarkMode{
    border:2px outset white !important;
}
.headerLinks{
  color:white !important;
}
.skillsDarkMode{
  background-image: url(../Images/darkChalkBoard.jpg) !important;
}
.footerDarkMode{
  background-color: #222 !important;
}
.projectCardDarkMode{
    box-shadow: 0 4px 8px 0 rgb(255, 255, 255);
}





html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

